* {
    font-family: georgia, serif;
    color: black;
}
a {
    color: #28f;
}
h1 {
    text-indent: -9999px;
    width: 290px;
    height: 285px;
    background: url(../images/logo290.png) no-repeat;
    margin: 0 auto;
}
#header,
#page,
#footer {
    width: 750px;
    margin: 0 auto;
}
#header,
#footer {
    text-align: center;
}
#page {
    text-align: left;
}
sup {
    font-size: .6em;
}
